body {
    font-family: Arial, sans-serif;
    background-image: url('/authentication/background.avif');
    background-size: cover;
    background-repeat: no-repeat;;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff5a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.194);
    width: 300px;
    margin: 0;
}

.login-container img {
    width: 200px; 
    margin-bottom: 20px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.login-container input[type="text"],
        
.login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
}

.login-container button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #ff40008a;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #b33000;
}

.login-container p {
    margin-top: 15px;
    text-align: center;
}

.link{
    font-weight:900;
    font-family: cursive;
}

.button-link {
    display: inline-block;
    padding: 10px 130px;
    background-color: #007bff; /* Button background color */
    color: #ffffff; /* Button text color */
    text-decoration: none; /* Remove underline */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    
}
